################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ib-geometryloader.VC.db
/ib-geometryloader.VC.VC.opendb
/AutoStock/AutoStock.VC.VC.opendb
